/*<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> */

@charset "utf-8";
html,body{height:100%;}
body{margin:0; padding:0; font-size:12px; font-family:"宋体",Verdana, Arial; background: #F9F9F9; text-align:left; color:#333;}
img, div, input { behavior: url("iepngfix.htc")}
div,span,table,p,u,em,h1,h2,h3,h4,h5,h6,ul,ol,li{font-size:12px; font-family:"宋体",Arial,Verdana; color:#000; margin:0; padding:0; border:0; font-weight:lighter; }
img{ border:0}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
ul,li{list-style:none;}
.clear{clear:both;}
.top{ width:98%; margin:0 1%; background:#F9F9F9; float:left; line-height:47px; height:47px;overflow:hidden}
.top h1{ float:left}
.top span{ float:right; margin-right:10px; margin-top:15px; }
.top span a{ color:#3399CC}















.main_index{text-align:left; width:98%; margin:0 1%; background:#F9F9F9; padding:0; clear:both }
.main_table{ width:100%}

.main_left{ width:206px;}
.main_right{ width:100%; }

.info{ width:199px; height:50px; background:url(/work/ni/images/manage_r2_c1.jpg) no-repeat; padding-top:10px;}
.info p{ margin-left:55px; height:18px; }
.info p a{color:#3399CC}


.left_menu{ width:197px; border:1px solid #b4c9c6; margin-top:6px; overflow:hidden; background:#FFF; height:400px;}
.left_menu h2{background-image:url(/work/ni/images/list_title.gif);background-repeat:no-repeat;clear:both;color:#0099CC;cursor:pointer;font-weight:bold;height:22px; line-height:22px; margin:9px auto 0; padding-left:30px;width:140px;}

.left_menu ul {list-style-position:outside;list-style-type:none; margin-left:20px; margin-top:2px;}
.left_menu ul li{list-style-image:url(/work/ni/images/direct_blue.gif);list-style-position:inside;padding:0 0 0 4px; height:20px; line-height:20px;}
.left_menu ul li a{ color:#555555}

.nav_menu{background-image:url(/work/ni/images/nav_bg.jpg);float:left;width:100%; height:26px;}
.nav_menu li{float:left;font-weight:bold;line-height:27px;margin:0; text-align:center; width:114px;}
.bg_img{background:url(/work/ni/images/manage_r2_c14.jpg) no-repeat scroll 0 0 transparent;
cursor:pointer;}
.bg_img a{ color:#666}
.bg_img_link{background:url(/work/ni/images/manage_r2_c13.jpg) no-repeat scroll 0 0 transparent;
color:#0099CC;}
.bg_img_link a{ color:#0099CC}
.sub_info{background-image:url(/work/ni/images/manage_r3_c11.jpg);
background-repeat:repeat-x;
border-bottom:1px solid #B4C9C6;
border-left:1px solid #B4C9C6;
border-right:1px solid #B4C9C6;
float:left;
height:28px;
padding:5px 0 0;
width:100%; margin-bottom:6px;}
.sub_info img{ vertical-align:bottom}


.main{background-color:#FFFFFF;
border:1px solid #B4C9C6; clear:both; 
height:390px;
margin:6px 0 0;
overflow:auto;
padding:5px 0;
width:100%; text-align:left}


.table_style{ background-color:#DBE6E3; width:99%; margin:0 0.5%}

.table_style tr{
    background-color:#fff;
}
.left_title_1 {
	background-color: #F3F8F7;
	color:#73938E;
	font-weight:bold;
	line-height:30px;
	text-align:right
}
.left_title_2 {
	background-color: #fff;
	color:#73938E;
	font-weight:bold;
	line-height:30px;
	text-align:right;
}}




.main_right iframe{ height:515px; width:100%;}


.left_title_l{background-color:#F3F8F7;
color:#73938E;
font-weight:bold;
line-height:30px;
text-align:right;}













.main_bottom{ background:url(../images/main_bottom_right.jpg) right no-repeat; height:49px; width:100%}
.main_bottom p { background:url(../images/main_bottom_left.jpg) left no-repeat; margin-right:349px; height:49px;}

